/* Styles */

.main{width:100%;
height:800px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(81,108,214,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#516cd6', GradientType=0 );
margin:0 auto;
position:relative;
}


/* users_img */

.users_img{
    width:20%;
    height:20%;
    position:absolute;
    top:5%;
    left:40%;
    z-index:12;
}


.users_img img{
    width:80%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

/* registration */

.registration{
    width:50%;
    height:60%;
    background-color:white;
    border-radius:20px;
    box-shadow: 5px 5px 10px gray;
    position:absolute;
    top:20%;
    left:25%;
    z-index:10;
}

.registration h1{
    color:darkred;
    width:100%;
    text-align:center;
    position:absolute;
    top:15%;
    left:0px;
}



#form_sign, #form_login{
    margin-top:30px;
    width:100%;
    height:80%;
    text-align:center;
    position:absolute;
    top:25%;
    left:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#userFullName, #userName, #userEmail, #userPassword{
    width:70%;
    height:12%;
    margin-top:2%;
    border:none;
    border-radius:10px;
    background-color:#D4D8F3;
}

input::placeholder{
    color:black;
    padding-left: 10px;
}

.buttons{
    width:70%;
    height:12%;
    margin-top:1%;
}


.buttons span{
    font-size:20px;
    margin-left:10px;
    margin-right:10px;
}

#btn_sign{
    width:25%;
    height:80%;
    border:none;
    border-radius:10px;
    background-color: darkblue;
    margin-top:20px;
    color:white;
    font-size:15px;
}

#btn_sign:hover{
    cursor:pointer;
}


#btn_login{
    width:25%;
    height:80%;
    border:none;
    border-radius:10px;
    background-color: darkblue;
    margin-top:20px;
    font-size:15px;
}


#btn_login a{
    text-decoration: none;
    color:white;
}
#btn_logi:hover{
    cursor:pointer;
}


