/* Styles */

.main{width:1000px;
height:800px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(81,108,214,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(81,108,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#516cd6', GradientType=0 );
margin:0 auto;
position:relative;
}


/* users_img */

.users_img{
    width:20%;
    height:200px;
    position:absolute;
    top:7%;
    left:40%;
    z-index:12;
}


.users_img img{
    width:80%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

/* registration */

.registration{
    width:50%;
    height:350px;
    background-color:white;
    border-radius:20px;
    box-shadow: 5px 5px 10px gray;
    position:absolute;
    top:20%;
    left:25%;
    z-index:10;
    display: flex;
    justify-content: center;
}

.registration h1{
    color:darkred;
    margin-top:55px;
}
